<div class="container mt-4">
    <div class="row">
        <div class="col-4">
            <app-service-nav-btn busName="BTR Express" Selected="true"></app-service-nav-btn>
            <app-service-nav-btn busName="Local" Selected="false"></app-service-nav-btn>
            <app-service-nav-btn busName="Hooper" Selected="false"></app-service-nav-btn>
            <app-service-nav-btn busName="Commuter" Selected="false"></app-service-nav-btn>
            <app-service-nav-btn busName="Van-Go!" Selected="false"></app-service-nav-btn>
            <app-service-nav-btn busName="Dial-A-Ride" Selected="false"></app-service-nav-btn>
            
           
        </div>
        <div class="col-8">
            <!--Bus Info goes Here-->
            <!-- <app-service-drop-down Title="Example Text" Body="sdsadfasdsdfsd sd fsd asdfka jsdkf ksldfksd fksdfk sdf sdj flks dklfjslkdf lkasd fkl sdfasdf"></app-service-drop-down> -->
            <!-- <app-van-go></app-van-go> -->
            <!-- <app-dial-a-ride></app-dial-a-ride> -->
            <app-commuter></app-commuter>
        </div>
    </div>
</div>