<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-4 ml-4">
            <app-service-nav-btn busName="BTR Express" Selected="true"></app-service-nav-btn>
            <app-service-nav-btn busName="Local" Selected="false"></app-service-nav-btn>
            <app-service-nav-btn busName="Hooper" Selected="false"></app-service-nav-btn>
            <app-service-nav-btn busName="Commuter" Selected="false"></app-service-nav-btn>
            <app-service-nav-btn busName="Van-Go!" Selected="false"></app-service-nav-btn>
            <app-service-nav-btn busName="Dial-A-Ride" Selected="false"></app-service-nav-btn>
            
           
        </div>
        <div class="col-7">
            <h1 style="color: #B61E8D; font-size: 50px;">BTR Express</h1>
            <!--Bus Info goes Here-->
            <p style="color:#004E99; font-size: 25px;">Fast and frequent service within the Stockton Metropolitan Area (SMA)</p>
            <!-- <app-service-drop-down style="font-size: 25px;" Title="Fast and frequent service within the Stockton Metropolitan Area (SMA)" Body="sdsadfasdsdfsd sd fsd asdfka jsdkf ksldfksd fksdfk sdf sdj flks dklfjslkdf lkasd fkl sdfasdf"></app-service-drop-down> -->
            <img src="../../../assets/Images/BTR Express.png" style="max-width: 100%;" alt="BTR Bus">
            
        </div>
    </div>
</div>