
    <div class="row">
 
        <div class="col-12">
            <h1 style="color: #B61E8D; font-size: 50px;">Hopper</h1>
            <!--Bus Info goes Here-->
            <p style="color:#004E99; font-size: 25px;">Hop on to connect… throughout Stockton and beyond </p>
            <!-- <app-service-drop-down style="font-size: 25px;" Title="Fast and frequent service within the Stockton Metropolitan Area (SMA)" Body="sdsadfasdsdfsd sd fsd asdfka jsdkf ksldfksd fksdfk sdf sdj flks dklfjslkdf lkasd fkl sdfasdf"></app-service-drop-down> -->
            <img src="../../../../assets/Images/Hopper.png" style="max-width: 100%;" alt="BTR Bus">
            <p class="mt-5" style="color:#004E99; font-size: 25px;">RTD Local serves the Stockton Metropolitan Area,
                connecting RTD’s Express, Intercity, Hopper,
                and Commuter services. Local routes serve the Downtown Transit Center (DTC), Mall Transfer
                Station (MTS), and Hammer Transfer Station (HTS).</p>


        </div>
    </div>



    <div class="row">
        <div class="col-6 ">
            <p class="mt-5" style="color: #B61E8D; font-size: 45px;">Metro Hopper</p>
            <p style="color:#004E99; font-size: 23px;">Metro Hopper is a deviated fixed-route service serving popular
                destinations throughout the Stockton city limits. With seven routes that operate Monday – Friday, 6:00
                a.m. to 6:30 p.m., buses run approximately every hour.
            </p>
            <p style="color:#004E99; font-size: 23px;">In order to accommodate ADA-certified passengers who are not able
                to reach fixed-route stops, each Hopper can deviate from its normal route a distance of up to one mile.
                The service covers approximately 75% of the Stockton Metro Area for ADA-certified customers with the
                one-mile deviation. Reservations are required.*
            </p>

        </div>
        <div class="col-6">
            <p class="mt-5" style="color: #B61E8D; font-size: 45px;">County Hopper</p>
            <p style="color:#004E99; font-size: 23px;">County Hopper is a deviated fixed-route service serving San
                Joaquin County and providing intercity connections between Stockton, Tracy, Lodi, Manteca, Ripon,
                Lathrop, and Escalon. There are 5 weekday routes that operate from 5:30 a.m. to 9:00 p.m.

            </p>
            <p style="color:#004E99; font-size: 23px;">In order to accommodate passengers who are not able to reach
                their destinations within a rural area, each County Hopper can deviate from its normal route a distance
                of up to one mile. Reservations are required.*

            </p>
            <p style="color:#004E99; font-size: 23px;">Note: Hoppers do not deviate in Lodi and Tracy. Use GrapeLine or
                Tracer services instead.

            </p>
        </div>

    </div>




    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-8">
            <hr>
            <p style="color:#004E99; font-size: 23px;">
                *Reservations are required two days in advanced for all Hopper deviations. Hoppers will deviate up to
                two times per trip. Please call (209) 943-1111 and follow the prompt for Access San Joaquin then
                Dial-A-Ride certification or deviation reservations</p>
        </div>
    </div>
