<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Commuter</h1>
        </div>
        <div class="col-12">
            <b>Connecting San Joaquin County to Sacramento and Dublin BART</b>
        </div>
        <div class="col-12">
            <img src="../../../../assets/Images/Commuter.jpg" alt="" width="800rem">
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
</div>