<div class="container Text-color">
    <div class="row">
        <div class="col-12">
            <h1>Dial-A-Ride</h1>
        </div>
        <div class="col-12">
            <b>Paratransit services for ADA-certified passengers</b>
        </div>
        <div class="col-12">
            <img src="../../../../assets/Images/DAR.jpg" alt="" width="800rem">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>RTD offers Paratransit Dial-A-Ride for those who qualify under the Americans with Disabilities Act (ADA). This program is specifically designed for those individuals who due to their disability, are functionally unable to use fixed-route services in San Joaquin County.</p>

            <p>This service is available seven days a week by appointment only during SMA service hours and within three-quarters of a mile of SMA fixed routes. Persons interested in this service must obtain certification under the Americans with Disabilities Act (ADA) through an application process.</p>
            <h2>Hours of Operation</h2>
            <span>
                <p class="m-0"><b>Monday through Friday</b></p>
            <p><b>5:40 a.m. – 9:55 p.m.</b></p>
            </span>
            <span>
                <p class="m-0"><b>Weekend/Holiday Service</b></p>
            <p><b>8:00 a.m. – 7:04 p.m.</b></p>
            </span>
            <p>Please check bus schedules for up-to-date hours of operation.</p>
            <h2>Reservation Phone Hours:</h2>
            <b>8:00 a.m. – 5:00 p.m. daily</b>
            <h2>Fares</h2>
            <p>8:00 a.m. – 5:00 p.m. daily</p>
            <h2>Reservations</h2>
            <p>Reservations for Dial-A-Ride must be made one to two days in advance. To schedule a ride or check your ride status, please call (209) 943-1111, option 2, option 2.</p>
            <h2>Arrival & Departure</h2>
            <p>RTD provides curb-to-curb service. Each passenger is given five minutes to board the bus once the driver arrives. Due to the special requirements of the service, passengers may be picked up any time between their scheduled time and up to 30 minutes after.</p>
            <h2>Attendants</h2>
            <p>A Dial-A-Ride passenger who qualifies for an attendant may be escorted by one. When making your reservation, please notify the reservationist if you will be accompanied by an attendant. Attendants ride free. You may also schedule a companion to ride with you (subject to seating availability); companions must pay the regular fare.</p>
            <h2>Cancellations</h2>
            <p>Cancellations may be made any day prior to your scheduled ride by calling (209) 943-1111, option 2, option 2. Same-day cancellations require at least a two-hour notice. Please make sure to call before the two hours so that the reservation agent has enough time to enter the cancellation into the system, otherwise it will be considered a no-show.</p>
            <h2>No-Shows</h2>
            <p>Passengers who fail to board the bus within five minutes of the bus arrival during the pick-up window are considered no-shows. Passengers with excessive no-shows may be temporarily suspended from service.</p>
            <h2>Dial-A-Ride Guidelines</h2>
            <p>For your safety and to comply with all applicable laws, all passengers must allow restraining devices to be used to secure wheelchairs at all times. Drivers will assist wheelchair passengers as needed. Passengers may carry packages on board; however, the amount is limited to what passengers or attendants can carry in their hands or on their mobility aids.</p>
            <p>For more information call (209) 943-1111.</p>
        </div>
    </div>
</div>