<div class="container-fluid Text-color">
    <div class="row">
        <div class="col-12">
            <h1>Van Go! <span>Pilot Program</span></h1>
        </div>
        <div class="col-12">
            <b>On-demand rideshare service takes you anywhere throughout San Joaquin County.</b>
        </div>
        <div class="col-12">
            <img src="../../../../assets/Images/VanGo.jpg" alt="" width="800rem">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h2>You spoke. We Listened.</h2>
            <h2>Introducing RTD Van Go! <i>reinvented.</i></h2>
            <p>The new pilot program offers seamless trips throughout San Joaquin County. No transfers. No zones. True county service.</p>
            <p class="mt-3">Travel anywhere within San Joaquin County with Van Go! This on-demand rideshare service is provided in vehicles that are safe and accessible (can transport wheelchairs). Drivers are professionally trained and ready to help.</p>

            <p class="mt-3">Note: Vehicles cannot transport bicycles.</p>
        </div>
        <div class="col-2 d-flex justify-content-start">
            <img src="../../../../assets/Images/SeamlessTripsGraphic.png" alt="" class="mt-5" width="250rem" height="250rem">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>How does it work?</h2>
            <p>• Book a trip up to two days in advance using the Van Go! App. You can even book on the same day!</p>
            <p>•Ride anywhere in San Joaquin County.</p>
            <h2>How do you book a trip?</h2>
            <p>To book a trip use the RTD Van Go! app on your smartphone. View the Van Go! How To brochure for a guide to using the app. Pay with Credit/Debit through the app or pay cash to the driver when they pick you up. We recommend booking your trip 48 hours in advance; however, you can book your trip on the same day.</p>
            <h2>Service Hours</h2>
            <b>Seven days a week, including holidays!</b>
            <p>8:00 a.m. – 5:00 p.m.</p>
        </div>
        <div class="col-12">
            <h2 class="mb-2">Fares</h2>
            <div class="row border d-flex align-items-end">
                <div class="col-4 text-center">
                    <b>Fare</b>
                </div>
                <div class="col-3">
                    <b>First 5-miles (one-way trip)</b>
                </div>
                <div class="col-4 offset-1 text-center">
                    <b>After 5 miles</b>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4 text-center">
                    <p>Regular</p>
                </div>
                <div class="col-4">
                    <b>$4.00 per person</b>
                </div>
                <div class="col-4">
                    <b>$0.50 per mile per person</b>
                </div>
            </div>
            <hr>
            <p class="Times_New_Roman">Fares subject to change without notice.</p>
        </div>
        <div class="col-12 Text-violet">
            <a href="https://sanjoaquinrtd.com/wp-content/uploads/2021/01/20210110_VanGoLaunchFlyer_8.5x11.pdf"><b>Download Printable Van Go! Service Flyer (English)</b></a>
        </div>
        <div class="col-12 mt-3">
            <b class="mt-2">Frequently Asked Questions</b>
            <hr class="bg-primary">
            <app-service-drop-down Title="What is RTD Van Go!?" Body="RTD’s on-demand rideshare service throughout San Joaquin County."></app-service-drop-down>
            <app-service-drop-down Title="What is the minimum age to ride?" Body="You must be at least 18 to book and 13 to ride unaccompanied."></app-service-drop-down>
            <app-service-drop-down Title="Can I hop on at any time?" Body="No, all trips require a reservation. You may book the same day using the Van Go! app."></app-service-drop-down>
            <app-service-drop-down Title="How do I pay for my ride?" Body="When booking through the app, you have the option to pay with a credit/debit card or you can pay with cash or present a pre-purchased pass when boarding."></app-service-drop-down>
            <app-service-drop-down Title="Can I travel with my spouse or friends?" Body="Yes, however, each person will need to pay their own fare—no splitting fares."></app-service-drop-down>
            <app-service-drop-down Title="When should I book my trip?" Body="Although you can book your trip on the same day, we recommend planning ahead so you may book up to 48 hours in advance."></app-service-drop-down>
            <app-service-drop-down Title="How do I use Van Go! for my appointment?" Body="When booking your trip, select “Arrive By” and enter the time you want to arrive at your appointment. The app will schedule an estimated time window for your pick up. Please note pick-up windows may change depending on traffic conditions and availability. We advised passengers plan to be at their pick-up location at least five minutes ahead of the scheduled pick-up window so they can be ready to board."></app-service-drop-down>
            <app-service-drop-down Title="Why did my pick-up window change?" Body="Pick-up windows may change depending on traffic conditions and availability. The time window you receive is an estimate and based on availability."></app-service-drop-down>
            <app-service-drop-down Title="What does rideshare service mean?" Body="A rideshare service means sometimes others will get on and off while your trip is still in session."></app-service-drop-down>
        </div>
    </div>
</div>