<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <p style="font-size: 45px; color:#004E99">About Us</p>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-4 d-flex align-text-left marginLeft" style="font-size: 30px; color: #B61E8D;">
            <p>Who We Are<br><span style="font-size: 16px; color:#0692B2">San Joaquin Regional Transit District is the
                    regional transit provider for San Joaquin
                    County, serving the Stockton Metropolitan Area and the County with intercity, interregional, and
                    rural
                    transit services.</span></p>
        </div>
        <div class="col-1"></div>
        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
            <img style="width: 65%; max-height: 75%;" src="../../../assets/images/RTD bus.jpeg">
        </div>
        <div class="col-lg-4 col-md-6 marginLeft d-flex justify-content-center">
            <img style="max-width: 100%; max-height: 90%;" src="../../../assets/images/maxresdefault (3).jpg">
        </div>
        <div class="col-1"></div>
        <div class="col-4 marginLeft" style="font-size: 30px; color: #B61E8D;">
            <p>Our Vision<br><span style="font-size: 16px; color:#0692B2">Our vision is to be the transportation service
                    of choice for the residents we serve.</span></p>
        </div>
        <div class="col-4 marginLeft mt-5" style="font-size: 30px; color: #B61E8D;">
            <p>Our Mission<br><span style="font-size: 16px; color:#0692B2">Our primary mission is to provide a safe,
                    reliable, and efficient transportation system for the region.</span></p>
        </div>
        <div class="col-1"></div>
        <div class="col-6 d-flex justify-content-center">
            <img style="width: 65%; max-height: 75%;" src="../../../assets/images/RTD bus.jpeg">
        </div>
        <div class="col-6 d-flex justify-content-center">
            <img style="width: 65%; max-height: 75%;" src="../../../assets/images/RTD bus.jpeg">
        </div>
        <div class="col-1"></div>
        <div class="col-4" style="font-size: 30px; color: #B61E8D;">
            <p>Sustainability<br><span style="font-size: 16px; color:#0692B2">We commit to a sustainable business model
                    that includes environmental and fiscal responsibility, business continuity, and succession planning.
                </span></p>
        </div>
        <div class="col-4 marginLeft" style="font-size: 30px; color: #B61E8D;">
            <p>Positive Work Environment
                <br><span style="font-size: 16px; color:#0692B2">We promote a positive work environment by supporting
                    each other through effective communication, teamwork, and appreciation for our diverse abilities and
                    contributions.
                </span>
            </p>
        </div>
        <div class="col-1"></div>
        <div class="col-6 d-flex justify-content-center">
            <img style="width: 65%; max-height: 75%;" src="../../../assets/images/RTD bus.jpeg">
        </div>
        <div class="col-6 d-flex justify-content-center">
            <img style="width: 65%; max-height: 75%;" src="../../../assets/images/RTD bus.jpeg">
        </div>
        <div class="col-1"></div>
        <div class="col-4" style="font-size: 30px; color: #B61E8D;">
            <p>Safety
                <br><span style="font-size: 16px; color:#0692B2">We commit to creating a safe and responsible
                    environment for our employees, our customers, and our community.

                </span>
            </p>
        </div>
    </div>
</div>