
            <h1 style="color: #B61E8D; font-size: 50px;">Local</h1>
            <!--Bus Info goes Here-->
            <p style="color:#004E99; font-size: 25px;">Fixed-route service within the Stockton Metropolitan Area (SMA)</p>
            <!-- <app-service-drop-down style="font-size: 25px;" Title="Fast and frequent service within the Stockton Metropolitan Area (SMA)" Body="sdsadfasdsdfsd sd fsd asdfka jsdkf ksldfksd fksdfk sdf sdj flks dklfjslkdf lkasd fkl sdfasdf"></app-service-drop-down> -->
            <img src="../../../../assets/Images/Local Bus.png" style="max-width: 100%;" alt="BTR Bus">
            <p class="mt-5" style="color:#004E99; font-size: 25px;">RTD Local serves the Stockton Metropolitan Area, connecting RTD’s Express, Intercity, Hopper,
                and Commuter services. Local routes serve the Downtown Transit Center (DTC), Mall Transfer
                Station (MTS), and Hammer Transfer Station (HTS).</p>
