<div class="container-fluid">
    <div class="row">
       <div class="col-4 homeSchedulesBG d-flex justify-content-center">
       <img class="homeLogo homeLogoSchedules" src="../../../assets/Images/shedulesLogo.png" alt="shedules">
       <p class="homeText"> Schedules & Map</p>
       </div>
       <div class="col-4 homeServicesBG d-flex justify-content-center">
        <img class="homeLogo" src="../../../assets/Images/servicesLogo.png" alt="services">
        <p class="homeText">Services</p>
       </div>
       <div class="col-4 homeAboutBG d-flex justify-content-center">
        <img class="homeLogo" src="../../../assets/Images/aboutLogo.png" alt="about">
        <p class="homeText">About RTD</p>
       </div>
    </div>
</div>
