<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <google-map></google-map>
        </div>
        <div class="col-6 detailsBorder">
            
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                    <!-- Where are you going? -->
                  <a ngbNavLink>Where are you going?</a>
                  <ng-template ngbNavContent>
                      <div class="row center">
                        <h3>Where are you going?</h3>
                      </div>
                      <!-- Start Point -->
                      <div class="row">
                          <div class="col-2 d-flex justify-content-end">
                              Start
                          </div>
                          <div class="col-8">
                              <input >
                          </div>
                          <div class="col-2">
                            <i class="far fa-star"></i>
                          </div>
                      </div>
                      <!-- Start Favorites Dropdown -->
                      <div class="row">
                        <div class="col">
                          <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem>Action - 1</button>
                              <button ngbDropdownItem>Another Action</button>
                              <button ngbDropdownItem>Something else is here</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Destination Point -->
                      <div class="row pt-5">
                        <div class="col-2">
                            Destination
                        </div>
                        <div class="col-8">
                            <input >
                        </div>
                        <div class="col-2">
                          <i class="far fa-star"></i>
                        </div>
                        <!-- Destination Favorites Dropdown -->
                      <div class="row">
                        <div class="col">
                          <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem>Action - 1</button>
                              <button ngbDropdownItem>Another Action</button>
                              <button ngbDropdownItem>Something else is here</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                    <!-- Route Details -->
                  <a ngbNavLink>Route Details</a>
                  <ng-template ngbNavContent>
                    <div class="row center">
                      <h3 class="dBlue">Route Details</h3>
                    </div>
                    <!-- Start to bottom of start -->
                    <div class="row">
                      <div class="col-3 center">
                        <div class="circle"></div>
                      </div>
                      <div class="col-6">
                        <b class="dBlue">Start point placeholder</b>
                        <p></p>
                      </div>
                    </div>

                    <div class="row topVertLine">
                      <div class="col-3 center">
                        <div class="topRouteLine"></div>
                      </div>
                      <div class="col-9"></div>
                    </div>

                    <div class="row">
                      <div class="col-3 center">
                        <p class="minsTilNextStop center">5 min</p>
                      </div>
                      <div class="col-9"></div>
                    </div>

                    <div class="row botVertLine">
                      <div class="col-3 center">
                        <div class="botRouteLine"></div>
                      </div>
                      <div class="col-9"></div>
                    </div>

                    <!-- Start to bottom of a 1st stop -->
                    <div class="row">
                      <div class="col-3 center">
                        <div class="circleX"></div>
                      </div>
                      <div class="col-6 column">
                        <b class="mb-0 dBlue">First stop information</b>
                        <p class="mb-0">Next in 17 min, 25 min</p>
                      </div>
                      <div class="col-3 center">
                        <b class="lBlue">5 min</b>
                      </div>
                    </div>

                    <div class="row topVertLineX">
                      <div class="col-3 center">
                        <div class="topRouteLineX"></div>
                      </div>
                      <div class="col-9"></div>
                    </div>

                    <div class="row">
                      <div class="col-3 center">
                        <p class="minsTilNextStopX center">5 min</p>
                      </div>
                      <div class="col-9"></div>
                    </div>

                    <div class="row botVertLineX">
                      <div class="col-3 center">
                        <div class="botRouteLineX"></div>
                      </div>
                      <div class="col-9"></div>
                    </div>

                    <!-- Start to bottom of a 2nd stop -->
                    <div class="row">
                      <div class="col-3 center">
                        <div class="circleY"></div>
                      </div>
                      <div class="col-6 column">
                        <b class="mb-0 dBlue">First stop information</b>
                        <p class="mb-0">Next in 17 min, 25 min</p>
                      </div>
                      <div class="col-3 center">
                        <b class="pink">15 min</b>
                      </div>
                    </div>

                    <div class="row topVertLineY">
                      <div class="col-3 center">
                        <div class="topRouteLineY"></div>
                      </div>
                      <div class="col-9"></div>
                    </div>

                    <div class="row">
                      <div class="col-3 center">
                        <p class="minsTilNextStopY center">5 min</p>
                      </div>
                      <div class="col-9"></div>
                    </div>

                    <div class="row botVertLineY">
                      <div class="col-3 center">
                        <div class="botRouteLineY"></div>
                      </div>
                      <div class="col-9"></div>
                    </div>

                    <!-- Start to bottom of a 3rd stop -->
                    <div class="row">
                      <div class="col-3 center">
                        <div class="circleX"></div>
                      </div>
                      <div class="col-6 column">
                        <b class="mb-0 dBlue">First stop information</b>
                        <p class="mb-0">Next in 17 min, 25 min</p>
                      </div>
                      <div class="col-3 center">
                        <b class="lBlue">10 min</b>
                      </div>
                    </div>

                    <div class="row topVertLineX">
                      <div class="col-3 center">
                        <div class="topRouteLineX"></div>
                      </div>
                      <div class="col-9"></div>
                    </div>

                    <div class="row">
                      <div class="col-3 center">
                        <p class="minsTilNextStopX center">5 min</p>
                      </div>
                      <div class="col-9"></div>
                    </div>

                    <div class="row botVertLineX">
                      <div class="col-3 center">
                        <div class="botRouteLineX"></div>
                      </div>
                      <div class="col-9"></div>
                    </div>

                    <!-- Destination Point -->
                    <div class="row">
                      <div class="col-3 center">
                        <div class="circle"></div>
                      </div>
                      <div class="col-9">
                        <b class="dBlue">You have reached your destination!</b>
                        <p></p>
                      </div>
                    </div>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>